/* */
html, body{
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
}

main {
  min-height: 100vh;
}

#error-alert{
  color: white;
  padding: 9px;
  font-size: 16px;
  text-align: center;
  background-color: #1e1e1e;
  width: 100%;
  line-height: 46px;
}

.err-page{
  background: #232323;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.err-page .container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.err-page .error-image{
  max-width: 500px;
  margin: 1rem;
}

.err-page .text{
  max-width: 500px;
  margin: 1rem;
}
.err-page .error-image img{
  width: 100%;
  height: auto;
}

.err-page h1{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
  font-size: 80px;
  margin-top: 3px;
  padding-bottom: -10px;
  display: inline-block;
  margin-bottom: 0px;
  color: white;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: white;
    background-image: none;
    color: rgb(0, 0, 0);
}

input[type="submit"].disabled{
   pointer-events: none;
    background-color: #DFDFDF !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor: default;
    border: none;
}
.kosik_wrap{
  padding-bottom: 20px;
  min-height: 60vh;
}

.kontakt-wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.kontakt-wrap p{
  color: #f5f5f5 !important;
  border-left: 1px solid #ff2633;
  padding-left: 16px;
  font-weight: bold;
  margin: 8px 4px;
}
#add-success, #add-error{
  display: none;

}
#add-success a{
  color: white;
  margin-left: 10px;
  text-decoration: underline;
}

#add-success, #add-error{
  color: white;
  padding: 9px;
  font-size: 16px;
  text-align: center;
  background-color: #484848;
  position: fixed;
  width: 100%;
  z-index: 55555;
}

#add-success .wrap-info, #add-error .wrap-info{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#add-success span, #add-error span{
    font-weight: bold;
}
#add-success i.small, #add-error i.small{
  margin-right: 10px;
  font-size: 22px;
}

#edit-profil{
  display: none;
}

#picker{
  display: none;
}

#login.modal, #register.modal{
  max-width: 500px !important;
}
.login-vyzva{
  margin-bottom: 40px;
}
#login .brand, #register .brand{
  margin: 0 auto;
width: 94px;
display: block;
}

#login a.forgot,  #register a.forgot{
  color: #ffa000;
}

#login .sublink,  #register.sublink{
  margin-top: 20px;
}
    #login.input-field input[type=date]:focus + label,
    #login.input-field input[type=text]:focus + label,
    #login.input-field input[type=email]:focus + label,
    #login.input-field input[type=password]:focus + label {
      color: #e91e63;
    }

    #login.input-field input[type=date]:focus,
    #login.input-field input[type=text]:focus,
    #login.input-field input[type=email]:focus,
    #login.input-field input[type=password]:focus {
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }
[type="checkbox"].filled-in:checked+label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ff2633;
  background-color: #ff2633;
  z-index: 0;
}

.carousel-item h1{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
  font-size: 80px;
  margin-top: 3px;
  padding-bottom: -10px;
  border-bottom: 0.5px solid white;
  display: inline-block;
  margin-bottom: 0px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}


.user{
  background: #ffae00;
font-family: 'Yanone Kaffeesatz', sans-serif;
padding: 0px;
margin: 0px;
font-weight: 100;
line-height: 20px;
height: 26px;
padding: 5px 5% 5px;
text-align: right;
z-index: 10;
}

.user a{
  font-weight: bold;
}

.nav-wrapper{
  font-weight: bold;
  margin: 0 5%;
}

.menu-polozka{
  background-color: #ffae00;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  /* padding: 3px; */
  margin-right: 10px;
  align-self: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  justify-content: space-between;
}

.carousel-item{
  background-repeat: : no-repeat;
  background-size: cover;
  background-position: center;

}

.carousel{
  height: 500px;
}
.nad-nadpis{
  font-size: 25px;
  font-weight: 100;
}

.podnadpis{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #fc3939;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

.ramecek{
  width: 100%;
margin-top: -10px;
height: 10px;
position: relative;
z-index: 120;
background-image: -webkit-linear-gradient(315deg, transparent 10px, #1e1e1e 10px), -webkit-linear-gradient(225deg, transparent 10px, #1e1e1e 10px);
background-image: linear-gradient(135deg, transparent 10px, #1e1e1e 10px), linear-gradient(-135deg, transparent 10px, #1e1e1e 10px);
background-size: 10px 10px;
background-repeat: repeat-x;
background-position: 50% 50%;
clear: both;
}

.nabidka_mainpage{
  background-color: #1e1e1e;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 80px;
}

.nabidka_mainpage h2{
  color: #676767;
  font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 48px;
font-weight: bold;
margin: 0px;
margin-top: -10px;
margin-bottom: 50px;
}
.nabidka_mainpage h3{
  font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 35px;
font-weight: bold;
color: #fc3939;
-ms-transform: rotate(-10deg);
-webkit-transform: rotate(-10deg);
transform: rotate(-10deg);
display: inline-block;
}

.nabidka_mainpage .item1{
  background-image: url('../pict/hranolky.jpg');
  background-size: cover;
  background-position: center;
}

.nabidka_mainpage .item2{
  background-image: url('../pict/strips.jpg');
  background-size: cover;
  background-position: center;
}

.nabidka_mainpage .item3{
  background-image: url('../pict/bageta.jpg');
  background-size: cover;
  background-position: center;
}

.nabidka_mainpage .item4{
  background-image: url('../pict/wafle.jpg');
  background-size: cover;
  background-position: center center;
  max-width: 526px;
  width: 100%;
}

.square {
    float:left;
    position: relative;
    width: 250px;
    padding-bottom : 250px; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.content {
    position:absolute;
    height:92%; /* = 100% - 2*10% padding */
    width: 100%; /* = 100% - 2*5% padding */
    padding: 25px 13px;
}
.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    height:100%;
    width:100%;
}

.nadpis-jidlo{
      font-family: 'Yanone Kaffeesatz', sans-serif;
      color: white;
    }

.nadpis-jidlo h1{
  float: left;
  clear: left;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.57);
  -webkit-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.57);
  -moz-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.57);
}

.nadpis-jidlo h2{
  float: left;
  clear: left;
  color: white;
  font-size: 18px;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.57);
  -webkit-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.57);
  -moz-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.57);
}

.cenovka:before{
  float: none;
  clear: left;
  content: ' ';
}
.cenovka{
  clear: left;
  background-color: #FFAE00;
  border-radius: 5px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: white;
  text-align: left;
  padding: 5px 2%;
  position: absolute;
  bottom: 0px;
}

.cenovka h4{
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  margin-right: 5%;
  margin-top: -15px;
}
.cenovka span{
  font-size: 17px;
  font-weight: 100;
}

.menu li{
    width: 20%;
    text-align: center;

}
.menu{
  width: 100%;
  float: left;
}
.menu a{
  margin-left: 2%;
  margin-right: 2%;
}

.kosik-menu{
  position: absolute;
  right: 6%;
  display: flex;
  /* height: 64px; */
  width: 180px;
  align-items: center;
}

nav .brand-logo{
  z-index: 7;
  margin: 0px;
  padding: 0px;
  left: 0px;
}
.vlajecka-logo{
  width: 142px;
  height: 136px;
  background-image: url('../pict/vlajecka.png');
  background-size: cover;
  margin-top: -35px;
  z-index: 1;
  padding: 10px 6px;
}

.vlajecka-logo img{
  width: 127px;
height: auto;
margin: 0 auto;
}
.jidelnicek{
  font-family: 'Roboto', sans-serif;
  z-index: 5;
  position: relative;
  background: rgba(218, 0, 13, 0.83);
  text-align: center;
  padding: 0px 2% 7px;
  color: white;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;

}
.jidelnicek li{
  display: inline;
  margin: 0px 1%;
}

.jidelnicek ul{
  padding: 0px;
  margin: 0px;
}
.jidelnicek img{
  width: 25px;
    height: 25px;
    top: 8px;
    position: relative;
    margin-right: 5px;
}

.jidelnicek a{
  text-decoration: none;
  color: white;
}

.valign{
  position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nabidka_mainpage .row{
  margin-bottom: 0px;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 833px;
  margin: 0 auto;
}

.snidane-wrapper{
  height: auto;
  padding: 200px 2rem 100px;
  background-image: url('../pict/bg2.png');
  background-size: cover;
  width: 100%;
  background-position: center;

}

.snidane-wrapper .menu{
  width: 50%;
  float: right;
}

.snidane-wrapper .menu .bunka{
  width: 46%;
  float: left;
  padding: 25px;
  color: #FFAE00;
  margin-left: 2%;
  margin-right: 2%;
}

.snidane-wrapper .menu .bunka p{
  margin-top: 0px;
  margin-right: 20%;
  font-family: 'Open sans', sans-serif;
  font-style: italic;
  color: white;

}
.snidane-wrapper h1{
  margin: 0px;
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 100px;
  margin-bottom: 40px;
}

.snidane-wrapper h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 100;
    display: inline-block;
    margin-bottom: 14px;
}

.snidane-wrapper .cena{
  float: right;
}

.promo-product-wrapper{
  text-align: center;
  height: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  background-image: url('../pict/bg1.png');
  background-size: cover;
  width: 100%;
  background-position: center;
  color: #2D2B2D;
  background-attachment: fixed;
}

.promo-product-wrapper .content {
  width: 50%;
  position: relative;
}
.promo-product-wrapper h1, h2, h4{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
  margin: 0px;

}

#priloha h4{
  display: inline-block;
}
#priloha .btn{
  background: #d00505;
  color: white;
  border-radius: 5px;
}
#priloha span.badge{
      background: #f32e2e;
      color: white;
       font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: normal;
      line-height: 16px;
      display: inline-block;
      padding: 3px 6px;
      height: auto;
      border-radius: 3px;
}

#priloha .prilohy {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 23px;
}

.priloha-kategorie{
  margin-right: 4%;
}

.priloha-kategorie h5{
    font-size: 19px;
    color: #2b2b2b;
    font-weight: bold;
}

.priloha-kategorie label{
  color: #464646;
}

.promo-product-wrapper h1{
  font-size: 140px;
  margin:0px;
  line-height: 140px;
}
.promo-product-wrapper h2{
  font-size: 100px;
  margin-top: -21px;
}

.promo-product-wrapper h4{
  font-size: 30px;
  color: #FC3939;
}
.promo-product-wrapper .nadtitulek {
    font-family: 'Open sans', sans-serif;
    font-size: 40px;
    color: #6E6E6E;
    padding-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #6E6E6E;
    display: inline-block;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.banner{
  width: 100%;
  height: 350px;
  background-image: url('../pict/bg-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.banner h1{
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 100px;
  margin-top: 100px
}
.navigation-sidebar{
  width: 350px;
  margin-right: 50px;
  }
.navigation-sidebar li{
    display: block;
     float: none;
     line-height: 42px;
     height: 50px;
     padding: 5px;
     border-bottom: 1px solid grey;
}

.navigation-sidebar nav ul a{
  padding: 0px;
  -moz-transition: none;
 -webkit-transition: none;
 -o-transition: color 0 ease-in;
 transition: none;
}
.navigation-sidebar ul li.no-border{
  border-bottom: 0px;
}


.navigation-sidebar ul{
  padding: 15px 25px;
  -moz-transition: none;
 -webkit-transition: none;
 -o-transition: color 0 ease-in;
 transition: none;
}

.navigation-sidebar li{
  -moz-transition: none;
 -webkit-transition: none;
 -o-transition: color 0 ease-in;
 transition: none;
 position: relative;
}

.navigation-sidebar li i{
  position: absolute;
  right: -4px;
  top: -2px;
  z-index: 100;
  color: #ababab;
}
.navigation-sidebar li:hover::after {
    visibility: visible;
}

.navigation-sidebar li:hover i{
  visibility: visible;
  color: white;
}
.navigation-sidebar li::after{
  transform: rotate(45deg);
  width: 40px;
  height: 42px;
  content: "";
  display: block;
  top: 4px;
  left: 92%;
  position: absolute;
  border-radius: 10px;
  visibility: hidden;
  background: rgb(210, 7, 5);
}
.navigation-sidebar li:hover{
  background-color: #df0714;
  color: white;
  margin-left: -25px;
  padding-left: 25px;
  margin-right: -25px;
  border-color: rgba(255, 0, 0, 0);
  -moz-transition: none;
 -webkit-transition: none;
 -o-transition: color 0 ease-in;
 transition: none;
 background: rgb(255,48,25); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 */
}

.navigation-sidebar li.active{
    background-color: #df0714;
    color: white;
    margin-left: -25px;
    padding-left: 25px;
    margin-right: -25px;
    border-color: rgba(255, 0, 0, 0);
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
    background: rgb(255,48,25);
    background: -moz-linear-gradient(left, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
    background: linear-gradient(to right, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 );
}

.navigation-sidebar li.active i{
  color: white;
}
.navigation-sidebar li.active::after{
  visibility: visible;
}

.navigation-sidebar img{
  float: left;
}
.navigation-sidebar nav{
  background-color: #383838;
  height: auto;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.product-list{
  display: flex;
  margin-top: 50px;
  width: 100%;
  padding: 5px 25px 60px;
}
.navigation-sidebar a{
  color: white;
}

 .products{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: flex-start;
}

.products a{
  text-decoration: none;
  color: #1b1b1b;
}
.products .product{
  width: 250px;
  margin: 0 20px;
  margin-bottom: 40px;
  border: 2px solid rgba(0,0,0,0);
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  align-self: flex-start;
}

.products .product:hover{
  border:2px solid #e6e6e6;
}

.products h3{
  color: white;;
  font-size: 18px;
  line-height: 20px;
  margin: 0px;
  text-shadow: 1px 0px 0px rgb(99, 99, 99);
}

.products h4.background{
  position: relative;
  z-index: 1;
  text-align: center;
  color: #383838;
  font-size: 16px;
  margin-top: 0px;
  font-weight: normal;
  font-family: 'Open sans', sans-serif;
}

h4.background::before{
        border-top: 1px solid #bdbdbd;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
}
.product span{
  background: #fff;
  padding: 0 15px;
}
.products .product img{
  width: 100%;
  line-height: 0px;
}

.product .title{
    position: absolute;
    width: 100%;
    color: white;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.88+59,0.88+59,0.88+59,0.88+60,0.88+60 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.88) 59%, rgba(0,0,0,0.88) 60%, rgba(0,0,0,0.88) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.88) 59%,rgba(0,0,0,0.88) 60%,rgba(0,0,0,0.88) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.88) 59%,rgba(0,0,0,0.88) 60%,rgba(0,0,0,0.88) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e0000000',GradientType=0 ); /* IE6-9 */
    padding: 16px 8px;
    margin: 0;
    min-height: 70px;
    display: flex;
    align-items: flex-end;
}
.product .obrazek{
  position: relative;
  line-height: 0px;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
}

.product p{
      color: #a0a0a0;
      font-size: 14px;
      line-height: 18px;
      font-family: 'Open Sans', sans-serif;
      padding: 16px 8px;
      margin: 0px;
      font-style: italic;
      text-align: left;
      min-height: 86px;
}

.product p:first-letter {
    text-transform: uppercase;
}
.product .cena span{
  border: 1px solid grey;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  padding: 16px 5px;
  text-align: center;
  margin-right: 8px;
  display: inline-block;
  font-size: 12px;
}

.product .cena span:hover{
  background-color: #df0714;
  color: white;
  border: 1px solid #df0714;
}
.product .cena{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 10px;
  align-items: center;
}

.product .cena .text{
  font-weight: bold;
}
.product input[type="submit"], .product button{
  width: 100%;
  background-color: #ff2633;
  text-align: center;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -os-border-radius: 5px;
  color: white;
  padding-bottom: 0px;
  height: 50px;
  line-height: 50px;
  font-size: 32px;
}

.product input[type="submit"]:hover, .product button:hover {
  background-color: #df0714;
}

.product input[type="submit"] .material-icons, .product button .material-icons{
  font-size: 33px;
  line-height: 50px;
}

.timeline{
  background-color: #dddddd;
  max-width: 480px;
  margin: 0 auto;
  height: 3px;
  display: flex;
  justify-content: space-between;
}

.progres{
  height: 50px;
  margin-top: 50px;
  padding: 0 1rem;
}

.timeline-step{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #df0714;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: white;
  position: relative;
  top: -19px;
  font-weight: bold;
  color: #505050;
}

.timeline-step .header{
    position: absolute;
    top: 46px;
    color: #616161;
    width: 116px;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
}
.timeline-step.complete, .timeline-step:hover{
  background-color: #df0714;
  color: white;
  cursor: pointer;
}

.kosik{
  border-top: 1px solid #f3f3f3;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 2rem 0;
  margin-top: 80px;
}
.mid-step{
  border-top: 1px solid #f3f3f3;
  max-width: 780px;
  margin: 0 auto;
  padding: 1rem 2rem 0;
  margin-top: 80px;
}

.final-step{
  border-top: 1px solid #f3f3f3;
  max-width: 780px;
  margin: 0 auto;
  padding: 1rem 2rem 0;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 74vh;
}

.final-step h3{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 41px;
  line-height: 41px;
  margin-top: 27px;
}
.next-btn{
  border: 1px solid #ff000f;
  border-radius: 5px;
  color: white;
  background-color: #d00505;
  padding: 14px 20px !important;
  margin-top: 50px;
}
.suma{
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 2rem;
}
.kosik .polozka .popis{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.kosik .polozka img{
  width: 100%;
  height: auto;
}

.kosik .polozka h3{
  font-size: 17px;
  margin: 0px;
  width: 100%;
  color: #616161;
  font-weight: bold;
}

.kosik .polozka h4{
    font-family: 'Roboto', sans-serif;
    color: #525252;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
}

.kosik .polozka .mnozstvi{
      font-family: 'Open Sans', sans-serif;
      color: #909090;
      font-size: 13px;
      line-height: 16px;
      font-weight: normal;
      margin-top: 5px;
      width: 100%;
      font-style: italic;
}

.kosik .polozka .cena{
    font-family: 'Roboto', sans-serif;
    color: #525252;
    font-size: 12px;
    margin: 0;
    font-weight: normal;
    margin-top: 5px;
    width: 100%;
}

.quntity-input{
  border: none !important;
  margin: 0px !important;
  font-size: 13px !important;
  height: auto !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0)!important;
}


input[type=text]:focus {
  border-bottom: none!important;
  box-shadow: none!important;
}

.profil{
  min-height: 80vh;
  padding-top: 60px;
}

.profil h4{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.profil h5{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.profil a{
  font-weight: bold;
}

.profil .navigace a{
  color: red;
}
.profil .navigace ul{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.profil .navigace li{
  margin: 8px 16px;
  border-radius: 5px;
  background-color: #e0e0e0;
  color: #5a5a5a;
}

.profil .navigace li.active{
  background: #ffc400;
  color: white;
}

.profil .info{
  text-align: center;
}

.profil .objednavky .info{
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.profil .adresa{
  padding-bottom: 10px;
  color: grey;
  font-size: 12px;
}

.profil .objednavky .bunka{
    margin-bottom: 50px;
    border-top: 1px solid whitesmoke;
    padding-top: 8px;
}

.profil .objednavky .produkt{
  font-style: italic;
      margin-left: 17px;
      background-color: #f7f7f7;
      padding-left: 25px;
      border-radius: 5px;
}

.profil .objednavky .produkt ul{
  margin: 0;
  padding: 8px 0px;
}

.profil .basic, .profil .price{
  padding: 0 8px;
}
.profil .price{
    font-weight: bold;
    font-size: 24px;
    line-height: 65px;
}
.profil .objednavky, #edit-profil{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 70px;
}

#edit-profil h4{
  text-align: center;
  margin-bottom: 20px;
}

.profil .objednavky .date{
  font-weight: bold;
  font-size: 22px;
}

.profil .info{
text-align: center;
}

.profil .photo{
    background: #F8F8F8;
    width: 120px;
    height: 120px;
    font-size: 60px;
    line-height: 120px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.sp-quantity {
  width: 100px;
  height: 35px;
  border: 1px solid #dddddd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  -webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.sp-minus {
    background: #dddddd;
    width: 40px;
    text-align: center;
    height: 20px;
    padding-bottom: 10px;
    border-radius: 30px;
    display: block;
    cursor: pointer;
}
.sp-input {
  width: 80px;
}
.sp-plus {
  background: #dddddd;
  width: 40px;
  text-align: center;
  height: 20px;
  padding-bottom: 10px;
  border-radius: 30px;
  margin-right: 3px;
  display: block;
  cursor: pointer;
}
.sp-input input {
    width:30px;
    height:34px;
    text-align:center;
    border: none;
}
.sp-input input:focus {
    border:1px solid #e1e1e1;
    border: none;
}
.sp-minus a, .sp-plus a {
    display: block;
    width: 100%;
    height: 100%;
    color: #525252;
}

.kosik .polozka{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f3f3f3;
  position: relative;
}

.kosik .polozka .close-btn{
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.products .sp-input{
  width: 66px;
}

.products .sp-plus, .products .sp-minus{
  padding-bottom: 23px;
}


@media screen and (max-width: 1206px) {
  .nabidka_mainpage .row{
    max-width: 536px;
  }

  .nabidka_mainpage .item3{
    order: 2;
  }
}
@media screen and (max-width: 992px) {
  .nav-wrapper {
        margin: 0;
      }

  .kosik-menu{
    position: absolute;
    right: 26px;
    justify-content: flex-end;
  }

  .jidelnicek{
    display: none;
  }

  nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
}

@media screen and (max-width: 792px) {
    .navigation-sidebar{
      width: 100%;
      margin-right: 0px;
      margin-bottom: 50px;
    }
    .product-list{
      flex-wrap: wrap;
      padding: 0px 16px;
    }

    .kosik{
      margin-top: 20px;
      border-bottom: none;
    }
    .timeline .header{
      display: none;
    }

    .kosik .polozka h4{
      margin-top: 10px;
      display: inline;
      width: auto;
    }
    .kosik .polozka .mnozstvi{
      width: auto;
    display: inline-block;
    margin-top: 9px;

    }

    .kosik .polozka .cena{
      font-size: 20px;
      font-weight: bold;
      margin-top: 20px;
    }

    .sp-quantity{
      margin-top: 12px;
    }

    .kosik .polozka{
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #f3f3f3;
    }

    .navigation-sidebar li.active::after, .navigation-sidebar li.hover::after{
      display: none;
    }
}

@media only screen and (max-width: 650px) {
    .nabidka_mainpage .item4{
        width: 250px;
    }

    .container{
      width: 90%;
    }
}

@media only screen and (max-width: 646px) {
    .nabidka_mainpage .row{
        justify-content: center;
    }

    .promo-product-wrapper {
      padding: 1rem;
    }
    .promo-product-wrapper h1{
      font-size: 70px;
      line-height: 70px;
    }
    .promo-product-wrapper h2{
      font-size: 50px;
      line-height: 50px;
      margin: 0;
    }

    .promo-product-wrapper .nadtitulek{
      font-size: 20px;
      margin-bottom: 10px;
      padding: 3px;
      padding-bottom: 0px;
    }
}
@media only screen and (max-width: 425px) {
  #pocet-kosik{
      display: none;
  }
  .vlajecka-logo{
    width: 80px;
    height: auto;
    padding: 0px;
    margin-top: 5px;
    background: none;
  }

  .vlajecka-logo img {
    width: 80px;
    height: auto;
    margin: 0 auto;
}
}
