<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../../style/style.css">
    <title>Bel3s - belgické kuchyně, fast food</title>
  </head>
  <body>
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <nav class="user">
    <a href="#">Přihlásit se</a> nebo <a href="#">registrovat</a>
    </nav>

    <nav class="grey darken-4">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">
        <div class="vlajecka-logo">
            <img src="../pict/logo_bezpozadi.png" alt="logo" width="98" height="53">
        </div>
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <div class="center menu hide-on-med-and-down">
        <a href="sass.html">MENU</a></li>
        <a href="badges.html">KDE NÁS NAJDETE</a>
        <a href="collapsible.html">O NÁS</a>
      </div>
      <ul class="kosik-menu">
        <span class="menu-polozka">0</span><span>1 777 Kč</span>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">MENU</a></li>
        <li><a href="badges.html">KDE NÁS NAJDETE</a></li>
        <li><a href="collapsible.html">O NÁS</a></li>
      </ul>
    </div>
  </nav>
  <!--Sekce s nabídkou všech produktů -->
  <section class="container">




  </section>
  <script type="text/javascript">
  $(document).ready(function(){
  // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
  $('.modal').modal();
});

  $(".ddd").on("click", function () {

    var $button = $(this);
    var oldValue = $button.closest('.sp-quantity').find("input.quntity-input").val();

    if ($button.text() == "+") {
        var newVal = parseFloat(oldValue) + 1;
    } else {
        // Don't allow decrementing below zero
        if (oldValue > 0) {
            var newVal = parseFloat(oldValue) - 1;
        } else {
            newVal = 0;
        }
    }

    $button.closest('.sp-quantity').find("input.quntity-input").val(newVal);

  });
  </script>
  </body>
</html>
