<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center"></div>
    <div class="carousel-item red white-text valign-wrapper center-align" style="background: url('pict/hranolkybg.jpg'); background-position: center 0; background-repeat: no-repeat; background-size:cover;" href="#one!">
        <div class="valign">
            <div class="nad-nadpis">ORIGINÁLNÍ</div>
            <div class="center">
                <h1>BELGICKÉ HRANOLKY</h1>
            </div>
            <div class="podnadpis">JEN U NÁS</div>
        </div>
    </div>
</div>
<div class="ramecek"></div>
<div class="nabidka_mainpage">
    <h3>OBJEVTE CO U NÁS</h3>
    <h2>NABÍZÍME</h2>
    <section class="container">
        <div class="col row">
            <div class="square item1">
              <a href="?page=menu&kategorie=belgicke_koule">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <div class="nadpis-jidlo">
                                <h1>Belgické KOULE</h1>
                                <h2></h2>
                            </div>

                            <div class="cenovka">
                                <span>Od</span>
                                <h4>95,-</h4>
                            </div>
                        </div>
                    </div>
                </div>
              </a>
            </div>

            <div class="square item2">
             <a href="?page=menu&kategorie=stripsy">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <div class="nadpis-jidlo">
                                <h1>stripsy</h1>
                                <h2>Smažené kuřecí stripsy</h2>
                            </div>

                            <div class="cenovka">
                                <span>Od</span>
                                <h4>69,-</h4>
                            </div>
                        </div>
                    </div>
                </div>
              </a>
            </div>

            <div class="square item3">
                <a href="?page=menu&kategorie=bagety">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <div class="nadpis-jidlo">
                                <h1>Belgické bagety</h1>
                                <h2>Široká nabídka belgických baget</h2>
                            </div>

                            <div class="cenovka">
                                <span>Od</span>
                                <h4>109,-</h4>
                            </div>
                        </div>
                    </div>
                </div>
              </a>
            </div>

            <div class="square item4">
              <a href="?page=menu&kategorie=vafle">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <div class="nadpis-jidlo">
                                <h1>Belgické wafle</h1>
                                <h2>K snídani či samostatně</h2>
                            </div>

                            <div class="cenovka">
                                <span>Od</span>
                                <h4>29,-</h4>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </section>
</div>


<section class="promo-product-wrapper">
  <div class="container">
    <div class="content">
        <span class="nadtitulek">Originální</span>
        <h1>BELGICKÉ</h1>
        <h2>HRANOLKY</h2>
        <h4>ZLATÉ A KŘUPAVÉ</h4>
    </div>
    <div style="clear: both; float: none;"></div>
  </div>
</section>
